<table style="width:100%">
    <tr align="left">
        <th></th>
        <th>NAME</th>
        <th>STATUS</th>
        <th>SPECIES</th>
        <th>TYPE</th>
        <th>GENDER</th>
        <th>ORIGIN</th>
        <th>LOCATION</th>
    </tr>
    {% for character in characters %}
        {% for value in character %}
            <tr>
                <td><img src="{{ value.image }}" /></td>
                <td>{{ value.name }}</td>
                <td>{{ value.status }}</td>
                <td>{{ value.species }}</td>
                <td>{{ value.type }}</td>
                <td>{{ value.gender }}</td>
                <td>{{ value.origin.name }}</td>
                <td>{{ value.location.name }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
