<table style="width:100%">
    <tr align="left">
        <th></th>
        <th>NAME</th>
        <th>STATUS</th>
        <th>SPECIES</th>
        <th>TYPE</th>
        <th>GENDER</th>
        <th>ORIGIN</th>
        <th>LOCATION</th>
    </tr>
    {% for character in characters %}
        <tr>
            <td><img src="{{ character.image }}" /></td>
            <td>{{ character.name }}</td>
            <td>{{ character.status }}</td>
            <td>{{ character.species }}</td>
            <td>{{ character.type }}</td>
            <td>{{ character.gender }}</td>
            <td>{{ character.origin.name }}</td>
            <td>{{ character.location.name }}</td>
        </tr>
    {% endfor %}
</table>
